$color-white: #fff;
$color-black: #000;
$color-gray: #b5b5b5;
$color-hover-blue: #1e90ff;

%button-danger {
  border-color: #d74b4b;
  border-bottom-color: #c84848;
  background-color: #f56969;
  background-image: linear-gradient(#f56969, #d94d4d);
}

#add-history {
  display: inline-block;
  position: relative;

  > span {
    margin-left: 16px;
  }

  .add-history-view {
    display: none;
    position: absolute;
    z-index: 2022;
    background-color: $color-white;
    border-radius: 10px;
    outline: 1px solid $color-gray;
    max-height: 275px;
    text-align: right;
    overflow: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    box-shadow: 0px 4px 16px -8px $color-black;

    > ol {
      list-style: none;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 3px 0;

      > li {
        padding: 7px 7px;
        line-height: 1em;
        cursor: pointer;

        &:hover {
          background-color: $color-hover-blue;
          color: $color-white;
        }
      }
    }
  }

  .add-history-delete {
    &-button {
      width: 25px;
      height: 25px;

      > img {
        position: relative;
        top: 1px;
        left: -5px;
        margin-top: -3px;
        margin-left: -2px;
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        image-rendering: -webkit-optimize-contrast;
      }

      &:hover {
        @extend %button-danger;
      }

      &:active {
        @extend %button-danger;
      }
    }

    &-view {
      background-color: #d7e8f3;
      box-shadow: 0 0 0 1px #a5cbf1;
      border: 2px solid #e2eefb;

      display: none;
      position: absolute;
      z-index: 2022;
      padding: 0 10px;

      > span {
        margin-right: 4px;
      }
    }

    &-okbutton {
      &:hover {
        @extend %button-danger;
      }

      &:active {
        @extend %button-danger;
      }
    }
  }
}

#add-history-fixed {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}

.gh-button.star {
  width: 25px;

  &.icon {
    &:before {
      background-position: -12px -348px;
      left: -3px;
      transition: transform ease-out 500ms;
    }

    &[checked]:before {
      background-position: 0 -348px;
      left: -3px;
      transform: rotateZ(145deg);
    }
  }
}
